$yellow_clr: #e9d758;
a {
    text-decoration: none;
    color: white;
}

button {
    display: inline-block;
    cursor: pointer;
    font-family: "Nunito", sans-serif;
}

.btn_yellow {
    padding: 1rem 2rem;
    border-radius: 30px;
    color: white;
    background-color: $yellow_clr;
    border: none;
    margin: 0 20px;
    font-weight: 800;
}

.btn_white {
    padding: 15px 25px;
    border-radius: 25px;
    color: #e56768;
    background-color: white;
    border: none;
    margin: 0 20px;
    font-weight: 800;
}

.btn_pink {
    padding: 15px 25px;
    border-radius: 25px;
    color: white;
    background-color: #e56768;
    border: none;
    margin: 0 20px;
    font-weight: 800;
}

.btn_pink_little {
    padding: 10px 20px;
    border-radius: 25px;
    color: white;
    background-color: #e56768;
    border: none;
    margin: 0 20px;
    font-weight: 800;
}

.empty_button {
    border: 1px solid white;
    background-color: transparent;
    padding: 5px 10px;
    border-radius: 25px;
    color: #ffffffcc;
    font-size: 10px;
    margin: 5px 5px;

    a {
        padding-top: 2px;
    }
}
